<a href="https://colab.research.google.com/github/Vidur7/PL-Prediction_Model/blob/main/PLMatchPrediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [32]:
from google.colab import files
data_to_load = files.upload()

Saving matches.csv to matches (1).csv

In [33]:
import io
df = pd.read_csv(io.BytesIO(data_to_load['matches.csv']))

In [34]:
matches = pd.read_csv("matches.csv", index_col=0)

In [35]:
matches.head()

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,match report,notes,sh,sot,dist,fk,pk,pkatt,season,team
1,2021-08-15,16:30,Premier League,Matchweek 1,Sun,Away,L,0.0,1.0,Tottenham,...,Match Report,NaN,18.0,4.0,16.9,1.0,0.0,0.0,2022,Manchester City
2,2021-08-21,15:00,Premier League,Matchweek 2,Sat,Home,W,5.0,0.0,Norwich City,...,Match Report,NaN,16.0,4.0,17.3,1.0,0.0,0.0,2022,Manchester City
3,2021-08-28,12:30,Premier League,Matchweek 3,Sat,Home,W,5.0,0.0,Arsenal,...,Match Report,NaN,25.0,10.0,14.3,0.0,0.0,0.0,2022,Manchester City
4,2021-09-11,15:00,Premier League,Matchweek 4,Sat,Away,W,1.0,0.0,Leicester City,...,Match Report,NaN,25.0,8.0,14.0,0.0,0.0,0.0,2022,Manchester City
6,2021-09-18,15:00,Premier League,Matchweek 5,Sat,Home,D,0.0,0.0,Southampton,...,Match Report,NaN,16.0,1.0,15.7,1.0,0.0,0.0,2022,Manchester City

In [ ]:
matches.shape

(1389, 27)

In [36]:
matches["team"].value_counts()

Southampton                 72
Brighton and Hove Albion    72
Manchester United           72
West Ham United             72
Newcastle United            72
Burnley                     71
Leeds United                71
Crystal Palace              71
Manchester City             71
Wolverhampton Wanderers     71
Tottenham Hotspur           71
Arsenal                     71
Leicester City              70
Chelsea                     70
Aston Villa                 70
Everton                     70
Liverpool                   38
Fulham                      38
West Bromwich Albion        38
Sheffield United            38
Brentford                   34
Watford                     33
Norwich City                33
Name: team, dtype: int64

In [37]:
matches["round"].value_counts()

Matchweek 1     39
Matchweek 16    39
Matchweek 34    39
Matchweek 32    39
Matchweek 31    39
Matchweek 29    39
Matchweek 28    39
Matchweek 26    39
Matchweek 25    39
Matchweek 24    39
Matchweek 23    39
Matchweek 2     39
Matchweek 19    39
Matchweek 17    39
Matchweek 20    39
Matchweek 15    39
Matchweek 5     39
Matchweek 3     39
Matchweek 13    39
Matchweek 12    39
Matchweek 4     39
Matchweek 11    39
Matchweek 10    39
Matchweek 9     39
Matchweek 8     39
Matchweek 14    39
Matchweek 7     39
Matchweek 6     39
Matchweek 30    37
Matchweek 27    37
Matchweek 22    37
Matchweek 21    37
Matchweek 18    37
Matchweek 33    32
Matchweek 35    20
Matchweek 36    20
Matchweek 37    20
Matchweek 38    20
Name: round, dtype: int64

In [38]:
matches[matches["team"] == "Chelsea"]

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,match report,notes,sh,sot,dist,fk,pk,pkatt,season,team
1,2021-08-14,15:00,Premier League,Matchweek 1,Sat,Home,W,3.0,0.0,Crystal Palace,...,Match Report,NaN,13.0,6.0,20.8,4.0,0.0,0.0,2022,Chelsea
2,2021-08-22,16:30,Premier League,Matchweek 2,Sun,Away,W,2.0,0.0,Arsenal,...,Match Report,NaN,22.0,5.0,14.6,0.0,0.0,0.0,2022,Chelsea
3,2021-08-28,17:30,Premier League,Matchweek 3,Sat,Away,D,1.0,1.0,Liverpool,...,Match Report,NaN,6.0,2.0,12.3,0.0,0.0,0.0,2022,Chelsea
4,2021-09-11,17:30,Premier League,Matchweek 4,Sat,Home,W,3.0,0.0,Aston Villa,...,Match Report,NaN,12.0,4.0,22.5,0.0,0.0,0.0,2022,Chelsea
6,2021-09-19,16:30,Premier League,Matchweek 5,Sun,Away,W,3.0,0.0,Tottenham,...,Match Report,NaN,20.0,9.0,13.2,0.0,0.0,0.0,2022,Chelsea
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51,2021-05-01,17:30,Premier League,Matchweek 34,Sat,Home,W,2.0,0.0,Fulham,...,Match Report,NaN,9.0,5.0,14.2,1.0,0.0,0.0,2021,Chelsea
53,2021-05-08,17:30,Premier League,Matchweek 35,Sat,Away,W,2.0,1.0,Manchester City,...,Match Report,NaN,12.0,5.0,21.2,1.0,0.0,0.0,2021,Chelsea
54,2021-05-12,20:15,Premier League,Matchweek 36,Wed,Home,L,0.0,1.0,Arsenal,...,Match Report,NaN,19.0,4.0,14.5,0.0,0.0,0.0,2021,Chelsea
56,2021-05-18,20:15,Premier League,Matchweek 37,Tue,Home,W,2.0,1.0,Leicester City,...,Match Report,NaN,16.0,5.0,14.5,0.0,1.0,1.0,2021,Chelsea
57,2021-05-23,16:00,Premier League,Matchweek 38,Sun,Away,L,1.0,2.0,Aston Villa,...,Match Report,NaN,23.0,6.0,15.0,0.0,0.0,0.0,2021,Chelsea

In [39]:
matches.dtypes

date             object
time             object
comp             object
round            object
day              object
venue            object
result           object
gf              float64
ga              float64
opponent         object
xg              float64
xga             float64
poss            float64
attendance      float64
captain          object
formation        object
referee          object
match report     object
notes           float64
sh              float64
sot             float64
dist            float64
fk              float64
pk              float64
pkatt           float64
season            int64
team             object
dtype: object

In [40]:
matches["date"] = pd.to_datetime(matches["date"])

In [41]:
matches

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,match report,notes,sh,sot,dist,fk,pk,pkatt,season,team
1,2021-08-15,16:30,Premier League,Matchweek 1,Sun,Away,L,0.0,1.0,Tottenham,...,Match Report,NaN,18.0,4.0,16.9,1.0,0.0,0.0,2022,Manchester City
2,2021-08-21,15:00,Premier League,Matchweek 2,Sat,Home,W,5.0,0.0,Norwich City,...,Match Report,NaN,16.0,4.0,17.3,1.0,0.0,0.0,2022,Manchester City
3,2021-08-28,12:30,Premier League,Matchweek 3,Sat,Home,W,5.0,0.0,Arsenal,...,Match Report,NaN,25.0,10.0,14.3,0.0,0.0,0.0,2022,Manchester City
4,2021-09-11,15:00,Premier League,Matchweek 4,Sat,Away,W,1.0,0.0,Leicester City,...,Match Report,NaN,25.0,8.0,14.0,0.0,0.0,0.0,2022,Manchester City
6,2021-09-18,15:00,Premier League,Matchweek 5,Sat,Home,D,0.0,0.0,Southampton,...,Match Report,NaN,16.0,1.0,15.7,1.0,0.0,0.0,2022,Manchester City
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38,2021-05-02,19:15,Premier League,Matchweek 34,Sun,Away,L,0.0,4.0,Tottenham,...,Match Report,NaN,8.0,1.0,17.4,0.0,0.0,0.0,2021,Sheffield United
39,2021-05-08,15:00,Premier League,Matchweek 35,Sat,Home,L,0.0,2.0,Crystal Palace,...,Match Report,NaN,7.0,0.0,11.4,1.0,0.0,0.0,2021,Sheffield United
40,2021-05-16,19:00,Premier League,Matchweek 36,Sun,Away,W,1.0,0.0,Everton,...,Match Report,NaN,10.0,3.0,17.0,0.0,0.0,0.0,2021,Sheffield United
41,2021-05-19,18:00,Premier League,Matchweek 37,Wed,Away,L,0.0,1.0,Newcastle Utd,...,Match Report,NaN,11.0,1.0,16.0,1.0,0.0,0.0,2021,Sheffield United
42,2021-05-23,16:00,Premier League,Matchweek 38,Sun,Home,W,1.0,0.0,Burnley,...,Match Report,NaN,12.0,3.0,17.0,0.0,0.0,0.0,2021,Sheffield United

In [42]:
matches.dtypes

date            datetime64[ns]
time                    object
comp                    object
round                   object
day                     object
venue                   object
result                  object
gf                     float64
ga                     float64
opponent                object
xg                     float64
xga                    float64
poss                   float64
attendance             float64
captain                 object
formation               object
referee                 object
match report            object
notes                  float64
sh                     float64
sot                    float64
dist                   float64
fk                     float64
pk                     float64
pkatt                  float64
season                   int64
team                    object
dtype: object

In [44]:
matches["venue_code"] = matches["venue"].astype("category").cat.codes

In [46]:
matches["opp_code"] = matches["opponent"].astype("category").cat.codes

In [48]:
matches["hour"] = matches["time"].str.replace(":.+","", regex= True).astype("int")

In [49]:
matches["day_code"] = matches["date"].dt.dayofweek

In [52]:
matches["target"] = (matches["result"] == "W").astype("int")

In [54]:
from sklearn.ensemble import RandomForestClassifier

In [55]:
rf = RandomForestClassifier(n_estimators=50, min_samples_split=10, random_state=1)

In [56]:
train = matches[matches["date"] < '2022-01-01']

In [57]:
test = matches[matches["date"] > '2022-01-01']

In [58]:
predictors = ["venue_code", "opp_code", "hour", "day_code"]

In [59]:
rf.fit(train[predictors], train["target"])

RandomForestClassifier(min_samples_split=10, n_estimators=50, random_state=1)

In [60]:
preds = rf.predict(test[predictors])

In [61]:
from sklearn.metrics import accuracy_score

In [62]:
acc = accuracy_score(test["target"], preds)

In [63]:
acc

0.6123188405797102

In [67]:
combined = pd.DataFrame(dict(actual=test["target"], prediction = preds))

In [68]:
pd.crosstab(index=combined["actual"], columns=combined["prediction"])

prediction    0   1
actual
0           141  31
1            76  28

In [69]:
from sklearn.metrics import precision_score

In [70]:
precision_score(test["target"], preds)

0.4745762711864407

In [71]:
grouped_matches = matches.groupby("team")

In [72]:
group = grouped_matches.get_group("Manchester City")

In [80]:
def rolling_averages(group, cols, new_cols):
  group = group.sort_values("date")
  rolling_stats = group[cols].rolling(3, closed = 'left').mean()
  group[new_cols] = rolling_stats
  group = group.dropna(subset=new_cols)
  return group

In [75]:
cols = ["gf","ga","sh", "sot", "fk", "pk", "pkatt"]
new_cols = [f"{c}_rolling" for c in cols]

In [76]:
new_cols

['gf_rolling',
 'ga_rolling',
 'sh_rolling',
 'sot_rolling',
 'fk_rolling',
 'pk_rolling',
 'pkatt_rolling']

In [81]:
rolling_averages(group, cols, new_cols)

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,hour,day_code,target,gf_rolling,ga_rolling,sh_rolling,sot_rolling,fk_rolling,pk_rolling,pkatt_rolling
5,2020-10-17,17:30,Premier League,Matchweek 5,Sat,Home,W,1.0,0.0,Arsenal,...,17,5,1,2.000000,2.333333,17.333333,4.666667,1.333333,0.333333,0.333333
7,2020-10-24,12:30,Premier League,Matchweek 6,Sat,Away,D,1.0,1.0,West Ham,...,12,5,0,1.333333,2.000000,17.333333,3.666667,0.666667,0.000000,0.000000
9,2020-10-31,12:30,Premier League,Matchweek 7,Sat,Away,W,1.0,0.0,Sheffield Utd,...,12,5,1,1.000000,0.666667,16.666667,4.333333,0.666667,0.000000,0.000000
11,2020-11-08,16:30,Premier League,Matchweek 8,Sun,Home,D,1.0,1.0,Liverpool,...,16,6,0,1.000000,0.333333,14.333333,6.666667,1.000000,0.000000,0.000000
12,2020-11-21,17:30,Premier League,Matchweek 9,Sat,Away,L,0.0,2.0,Tottenham,...,17,5,0,1.000000,0.666667,12.000000,5.666667,1.000000,0.000000,0.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42,2022-03-14,20:00,Premier League,Matchweek 29,Mon,Away,D,0.0,0.0,Crystal Palace,...,20,0,0,2.333333,1.333333,19.000000,7.000000,0.333333,0.333333,0.333333
44,2022-04-02,15:00,Premier League,Matchweek 31,Sat,Away,W,2.0,0.0,Burnley,...,15,5,1,1.666667,0.333333,18.333333,7.333333,0.333333,0.000000,0.000000
46,2022-04-10,16:30,Premier League,Matchweek 32,Sun,Home,D,2.0,2.0,Liverpool,...,16,6,0,2.000000,0.333333,20.000000,6.666667,0.333333,0.000000,0.000000
49,2022-04-20,20:00,Premier League,Matchweek 30,Wed,Home,W,3.0,0.0,Brighton,...,20,2,1,1.333333,0.666667,15.666667,4.666667,0.333333,0.000000,0.000000
50,2022-04-23,15:00,Premier League,Matchweek 34,Sat,Home,W,5.0,1.0,Watford,...,15,5,1,2.333333,0.666667,15.333333,5.000000,0.333333,0.000000,0.000000

In [82]:
matches_rolling = matches.groupby("team").apply(lambda x: rolling_averages(x, cols, new_cols))

In [83]:
matches_rolling

                                 date   time            comp         round  \
team
Arsenal                 6  2020-10-04  14:00  Premier League   Matchweek 4
                        7  2020-10-17  17:30  Premier League   Matchweek 5
                        9  2020-10-25  19:15  Premier League   Matchweek 6
                        11 2020-11-01  16:30  Premier League   Matchweek 7
                        13 2020-11-08  19:15  Premier League   Matchweek 8
...                               ...    ...             ...           ...
Wolverhampton Wanderers 32 2022-03-13  14:00  Premier League  Matchweek 29
                        33 2022-03-18  20:00  Premier League  Matchweek 30
                        34 2022-04-02  15:00  Premier League  Matchweek 31
                        35 2022-04-08  20:00  Premier League  Matchweek 32
                        36 2022-04-24  14:00  Premier League  Matchweek 34

                            day venue result   gf   ga         opponent  ...  \
team                                                                     ...
Arsenal                 6   Sun  Home      W  2.0  1.0    Sheffield Utd  ...
                        7   Sat  Away      L  0.0  1.0  Manchester City  ...
                        9   Sun  Home      L  0.0  1.0   Leicester City  ...
                        11  Sun  Away      W  1.0  0.0   Manchester Utd  ...
                        13  Sun  Home      L  0.0  3.0      Aston Villa  ...
...                         ...   ...    ...  ...  ...              ...  ...
Wolverhampton Wanderers 32  Sun  Away      W  1.0  0.0          Everton  ...
                        33  Fri  Home      L  2.0  3.0     Leeds United  ...
                        34  Sat  Home      W  2.0  1.0      Aston Villa  ...
                        35  Fri  Away      L  0.0  1.0    Newcastle Utd  ...
                        36  Sun  Away      L  0.0  1.0          Burnley  ...

                            hour  day_code  target  gf_rolling ga_rolling  \
team
Arsenal                 6     14         6       1    2.000000   1.333333
                        7     17         5       0    1.666667   1.666667
                        9     19         6       0    1.000000   1.666667
                        11    16         6       1    0.666667   1.000000
                        13    19         6       0    0.333333   0.666667
...                          ...       ...     ...         ...        ...
Wolverhampton Wanderers 32    14         6       1    1.333333   1.000000
                        33    20         4       0    1.666667   0.666667
                        34    15         5       1    2.333333   1.000000
                        35    20         4       0    1.666667   1.333333
                        36    14         6       0    1.333333   1.666667

                           sh_rolling sot_rolling fk_rolling  pk_rolling  \
team
Arsenal                 6    7.666667    3.666667   0.666667    0.000000
                        7    5.333333    3.666667   0.000000    0.000000
                        9    7.000000    3.666667   0.666667    0.000000
                        11   9.666667    4.000000   1.000000    0.000000
                        13   9.666667    2.666667   1.000000    0.333333
...                               ...         ...        ...         ...
Wolverhampton Wanderers 32  12.333333    3.666667   0.000000    0.000000
                        33  12.333333    4.333333   0.000000    0.000000
                        34  13.000000    5.333333   0.000000    0.000000
                        35  13.000000    5.000000   0.000000    0.000000
                        36  10.000000    4.666667   0.000000    0.000000

                            pkatt_rolling
team
Arsenal                 6        0.000000
                        7        0.000000
                        9        0.000000
                        11       0.000000
                        13       0.333333
...                                   ...
Wolverhampton Wanderers 32       0.000000
                        33       0.000000
                        34       0.000000
                        35       0.000000
                        36       0.000000

[1320 rows x 39 columns]

In [84]:
matches_rolling = matches_rolling.droplevel('team')

In [85]:
matches_rolling

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,hour,day_code,target,gf_rolling,ga_rolling,sh_rolling,sot_rolling,fk_rolling,pk_rolling,pkatt_rolling
6,2020-10-04,14:00,Premier League,Matchweek 4,Sun,Home,W,2.0,1.0,Sheffield Utd,...,14,6,1,2.000000,1.333333,7.666667,3.666667,0.666667,0.000000,0.000000
7,2020-10-17,17:30,Premier League,Matchweek 5,Sat,Away,L,0.0,1.0,Manchester City,...,17,5,0,1.666667,1.666667,5.333333,3.666667,0.000000,0.000000,0.000000
9,2020-10-25,19:15,Premier League,Matchweek 6,Sun,Home,L,0.0,1.0,Leicester City,...,19,6,0,1.000000,1.666667,7.000000,3.666667,0.666667,0.000000,0.000000
11,2020-11-01,16:30,Premier League,Matchweek 7,Sun,Away,W,1.0,0.0,Manchester Utd,...,16,6,1,0.666667,1.000000,9.666667,4.000000,1.000000,0.000000,0.000000
13,2020-11-08,19:15,Premier League,Matchweek 8,Sun,Home,L,0.0,3.0,Aston Villa,...,19,6,0,0.333333,0.666667,9.666667,2.666667,1.000000,0.333333,0.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32,2022-03-13,14:00,Premier League,Matchweek 29,Sun,Away,W,1.0,0.0,Everton,...,14,6,1,1.333333,1.000000,12.333333,3.666667,0.000000,0.000000,0.000000
33,2022-03-18,20:00,Premier League,Matchweek 30,Fri,Home,L,2.0,3.0,Leeds United,...,20,4,0,1.666667,0.666667,12.333333,4.333333,0.000000,0.000000,0.000000
34,2022-04-02,15:00,Premier League,Matchweek 31,Sat,Home,W,2.0,1.0,Aston Villa,...,15,5,1,2.333333,1.000000,13.000000,5.333333,0.000000,0.000000,0.000000
35,2022-04-08,20:00,Premier League,Matchweek 32,Fri,Away,L,0.0,1.0,Newcastle Utd,...,20,4,0,1.666667,1.333333,13.000000,5.000000,0.000000,0.000000,0.000000
36,2022-04-24,14:00,Premier League,Matchweek 34,Sun,Away,L,0.0,1.0,Burnley,...,14,6,0,1.333333,1.666667,10.000000,4.666667,0.000000,0.000000,0.000000

In [86]:
matches_rolling.index = range(matches_rolling.shape[0])

In [87]:
matches_rolling

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,hour,day_code,target,gf_rolling,ga_rolling,sh_rolling,sot_rolling,fk_rolling,pk_rolling,pkatt_rolling
0,2020-10-04,14:00,Premier League,Matchweek 4,Sun,Home,W,2.0,1.0,Sheffield Utd,...,14,6,1,2.000000,1.333333,7.666667,3.666667,0.666667,0.000000,0.000000
1,2020-10-17,17:30,Premier League,Matchweek 5,Sat,Away,L,0.0,1.0,Manchester City,...,17,5,0,1.666667,1.666667,5.333333,3.666667,0.000000,0.000000,0.000000
2,2020-10-25,19:15,Premier League,Matchweek 6,Sun,Home,L,0.0,1.0,Leicester City,...,19,6,0,1.000000,1.666667,7.000000,3.666667,0.666667,0.000000,0.000000
3,2020-11-01,16:30,Premier League,Matchweek 7,Sun,Away,W,1.0,0.0,Manchester Utd,...,16,6,1,0.666667,1.000000,9.666667,4.000000,1.000000,0.000000,0.000000
4,2020-11-08,19:15,Premier League,Matchweek 8,Sun,Home,L,0.0,3.0,Aston Villa,...,19,6,0,0.333333,0.666667,9.666667,2.666667,1.000000,0.333333,0.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1315,2022-03-13,14:00,Premier League,Matchweek 29,Sun,Away,W,1.0,0.0,Everton,...,14,6,1,1.333333,1.000000,12.333333,3.666667,0.000000,0.000000,0.000000
1316,2022-03-18,20:00,Premier League,Matchweek 30,Fri,Home,L,2.0,3.0,Leeds United,...,20,4,0,1.666667,0.666667,12.333333,4.333333,0.000000,0.000000,0.000000
1317,2022-04-02,15:00,Premier League,Matchweek 31,Sat,Home,W,2.0,1.0,Aston Villa,...,15,5,1,2.333333,1.000000,13.000000,5.333333,0.000000,0.000000,0.000000
1318,2022-04-08,20:00,Premier League,Matchweek 32,Fri,Away,L,0.0,1.0,Newcastle Utd,...,20,4,0,1.666667,1.333333,13.000000,5.000000,0.000000,0.000000,0.000000
1319,2022-04-24,14:00,Premier League,Matchweek 34,Sun,Away,L,0.0,1.0,Burnley,...,14,6,0,1.333333,1.666667,10.000000,4.666667,0.000000,0.000000,0.000000

In [92]:
def make_predictions(data, predictions):
  train = data[data["date"] < '2022-01-01']
  test = data[data["date"] > '2022-01-01']
  rf.fit(train[predictors], train["target"])
  preds = rf.predict(test[predictors])
  combined = pd.DataFrame(dict(actual=test["target"], predicted = preds), index=test.index)
  precision = precision_score(test["target"], preds)
  return combined, precision

In [93]:
combined, precision = make_predictions(matches_rolling, predictors + new_cols)

In [94]:
precision

0.4727272727272727

In [95]:
combined

      actual  predicted
55         0          0
56         1          0
57         1          0
58         1          0
59         1          0
...      ...        ...
1315       1          0
1316       0          0
1317       1          0
1318       0          0
1319       0          0

[276 rows x 2 columns]

In [96]:
combined = combined.merge(matches_rolling[["date", "team", "opponent", "result"]], left_index= True, right_index= True)

In [97]:
combined

,actual,predicted,date,team,opponent,result
55,0,0,2022-01-23,Arsenal,Burnley,D
56,1,0,2022-02-10,Arsenal,Wolves,W
57,1,0,2022-02-19,Arsenal,Brentford,W
58,1,0,2022-02-24,Arsenal,Wolves,W
59,1,0,2022-03-06,Arsenal,Watford,W
...,...,...,...,...,...,...
1315,1,0,2022-03-13,Wolverhampton Wanderers,Everton,W
1316,0,0,2022-03-18,Wolverhampton Wanderers,Leeds United,L
1317,1,0,2022-04-02,Wolverhampton Wanderers,Aston Villa,W
1318,0,0,2022-04-08,Wolverhampton Wanderers,Newcastle Utd,L
1319,0,0,2022-04-24,Wolverhampton Wanderers,Burnley,L

In [100]:
class MissingDict(dict):
    def __missing__(self, key):
        return key

map_values = {
    "Brighton and Hove Albion": "Brighton",
    "Wolverhampton Wanderers": "Wolves",
    "Manchester United": "Manchester Utd",
    "Tottenham Hotspur": "Tottenham",
    "Newcastle United": "Newcastle",
    "West Ham United": "West Ham"
}

mapping = MissingDict(**map_values)

In [101]:
mapping["Arsenal"]

'Arsenal'

In [103]:
combined["new_team"] = combined["team"].map(mapping)

In [104]:
combined

,actual,predicted,date,team,opponent,result,new_team
55,0,0,2022-01-23,Arsenal,Burnley,D,Arsenal
56,1,0,2022-02-10,Arsenal,Wolves,W,Arsenal
57,1,0,2022-02-19,Arsenal,Brentford,W,Arsenal
58,1,0,2022-02-24,Arsenal,Wolves,W,Arsenal
59,1,0,2022-03-06,Arsenal,Watford,W,Arsenal
...,...,...,...,...,...,...,...
1315,1,0,2022-03-13,Wolverhampton Wanderers,Everton,W,Wolves
1316,0,0,2022-03-18,Wolverhampton Wanderers,Leeds United,L,Wolves
1317,1,0,2022-04-02,Wolverhampton Wanderers,Aston Villa,W,Wolves
1318,0,0,2022-04-08,Wolverhampton Wanderers,Newcastle Utd,L,Wolves
1319,0,0,2022-04-24,Wolverhampton Wanderers,Burnley,L,Wolves

In [105]:
merged = combined.merge(combined, left_on=["date", "new_team"], right_on=["date", "opponent"])

In [106]:
merged

,actual_x,predicted_x,date,team_x,opponent_x,result_x,new_team_x,actual_y,predicted_y,team_y,opponent_y,result_y,new_team_y
0,0,0,2022-01-23,Arsenal,Burnley,D,Arsenal,0,0,Burnley,Arsenal,D,Burnley
1,1,0,2022-02-10,Arsenal,Wolves,W,Arsenal,0,0,Wolverhampton Wanderers,Arsenal,L,Wolves
2,1,0,2022-02-19,Arsenal,Brentford,W,Arsenal,0,0,Brentford,Arsenal,L,Brentford
3,1,0,2022-02-24,Arsenal,Wolves,W,Arsenal,0,0,Wolverhampton Wanderers,Arsenal,L,Wolves
4,1,0,2022-03-06,Arsenal,Watford,W,Arsenal,0,0,Watford,Arsenal,L,Watford
...,...,...,...,...,...,...,...,...,...,...,...,...,...
242,1,0,2022-03-13,Wolverhampton Wanderers,Everton,W,Wolves,0,1,Everton,Wolves,L,Everton
243,0,0,2022-03-18,Wolverhampton Wanderers,Leeds United,L,Wolves,1,0,Leeds United,Wolves,W,Leeds United
244,1,0,2022-04-02,Wolverhampton Wanderers,Aston Villa,W,Wolves,0,0,Aston Villa,Wolves,L,Aston Villa
245,0,0,2022-04-08,Wolverhampton Wanderers,Newcastle Utd,L,Wolves,1,0,Newcastle United,Wolves,W,Newcastle
246,0,0,2022-04-24,Wolverhampton Wanderers,Burnley,L,Wolves,1,1,Burnley,Wolves,W,Burnley

In [108]:
merged[(merged["predicted_x"] ==1) & (merged["predicted_y"]==0)]["actual_x"].value_counts()

0    24
1    23
Name: actual_x, dtype: int64

In [109]:
24/40

0.6

In [110]:
matches.columns

Index(['date', 'time', 'comp', 'round', 'day', 'venue', 'result', 'gf', 'ga',
       'opponent', 'xg', 'xga', 'poss', 'attendance', 'captain', 'formation',
       'referee', 'match report', 'notes', 'sh', 'sot', 'dist', 'fk', 'pk',
       'pkatt', 'season', 'team', 'venue_code', 'opp_code', 'hour', 'day_code',
       'target'],
      dtype='object')

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [7]:
%ls /content/drive/MyDrive/

 ATT00001.htm                    PicVD.PNG
'Colab Notebooks'/              'stock_management_system.zip (Unzipped Files)'/
'Flask.zip (Unzipped Files)'/   'VidResume (2).pdf'
'Getting started.pdf'           'VidResume.pdf (1).pdf'
 Invitation_Updated.pdf         'Vidur Mehta Resume (1).pdf'
'Official Resume.pdf'           'Vidur Mehta Resume (2).pdf'
 PHOTO-2016-09-08-18-20-25.jpg  'Vidur Mehta Resume.pdf'
 PHOTO-2020-02-07-08-12-01.jpg

In [8]:
%ls /content/drive/MyDrive/'Colab Notebooks'/

matches.csv  MatchPrediction.ipynb

In [13]:
%cd /content/drive/MyDrive/Colab Notebooks

/content/drive/MyDrive/Colab Notebooks

In [14]:
!git config --global user.name "Vidur Mehta"
!git config --global user.email "vidurmehta7@gmail.com"

In [15]:
!git init

Initialized empty Git repository in /content/drive/MyDrive/Colab Notebooks/.git/

In [17]:
!git add .

In [18]:
!git commit -m "final commit"

[master (root-commit) 8740dd9] final commit
 2 files changed, 2 insertions(+)
 create mode 100644 PLMatchPrediction.ipynb
 create mode 100644 matches.csv

In [19]:
!git remote add origin https://github.com/Vidur7/PL-Prediction_Model.git

In [21]:
!git push origin master

fatal: could not read Username for 'https://github.com': No such device or address

In [22]:
!git push -u origin main

error: src refspec main does not match any
error: failed to push some refs to 'https://github.com/Vidur7/PL-Prediction_Model.git'

In [23]:
!git config --global user.name "Vidur Mehta"
!git config --global user.email "vidurmehta7@gmail.com"

In [24]:
!git init

Reinitialized existing Git repository in /content/drive/MyDrive/Colab Notebooks/.git/

In [25]:
!git add .

In [26]:
!git commit -m "final commit"

[master 5692d1a] final commit
 1 file changed, 1 insertion(+), 1 deletion(-)

In [27]:
!git remote add origin https://github.com/Vidur7/PL-Prediction_Model.git

fatal: remote origin already exists.

In [28]:
!git push origin master

fatal: could not read Username for 'https://github.com': No such device or address

In [34]:
!git remote set-url origin https://github.com/Vidur7/PL-Prediction_Model.git

In [36]:
!pwd

/content/drive/MyDrive/Colab Notebooks

In [37]:
!ls

matches.csv  PLMatchPrediction.ipynb

In [38]:
!git remote -v

origin	https://github.com/Vidur7/PL-Prediction_Model.git (fetch)
origin	https://github.com/Vidur7/PL-Prediction_Model.git (push)

In [39]:
!git status

On branch master
Changes not staged for commit:
  (use "git add <file>..." to update what will be committed)
  (use "git restore <file>..." to discard changes in working directory)
	modified:   PLMatchPrediction.ipynb

no changes added to commit (use "git add" and/or "git commit -a")

In [41]:
!git add PLMatchPrediction.ipynb matches.csv

In [43]:
!git status

On branch master
Changes to be committed:
  (use "git restore --staged <file>..." to unstage)
	modified:   PLMatchPrediction.ipynb

Changes not staged for commit:
  (use "git add <file>..." to update what will be committed)
  (use "git restore <file>..." to discard changes in working directory)
	modified:   PLMatchPrediction.ipynb

In [44]:
!git commit -a -m "first commit"

[master 084bd0c] first commit
 1 file changed, 1 insertion(+), 1 deletion(-)

In [45]:
!git config --list

filter.lfs.clean=git-lfs clean -- %f
filter.lfs.smudge=git-lfs smudge -- %f
filter.lfs.process=git-lfs filter-process
filter.lfs.required=true
user.name=Vidur Mehta
user.email=vidurmehta7@gmail.com
core.repositoryformatversion=0
core.filemode=true
core.bare=false
core.logallrefupdates=true
remote.origin.url=https://github.com/Vidur7/PL-Prediction_Model.git
remote.origin.fetch=+refs/heads/*:refs/remotes/origin/*

In [47]:
!git push origin master

fatal: could not read Username for 'https://github.com': No such device or address

In [50]:
!git credential-cache exit

In [51]:
!git config --global user.name "Vidur Mehta"
!git config --global user.email "vidurmehta7@gmail.com"

In [54]:
!git push origin main

error: src refspec main does not match any
error: failed to push some refs to 'https://github.com/Vidur7/PL-Prediction_Model.git'